<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Matratze</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="myApp" ng-controller="customersCtrl">
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="index.html">Матраци Львів</a>
        </div>
        <div>
          <ul class="nav navbar-nav navbar-right">
            <li class="dropdown">
                <span class="glyphicon glyphicon-search dropdown-toggle"  data-toggle="dropdown">
                </span>
                <ul class="dropdown-menu">
                  <input type="text" ng-model="query" class="form-control" placeholder="Search for...">
                </ul>
             
            </li>
            <li><a href="about.html">Про нас</a></li>
            <li class="active"><a href="#">Матраци</a></li> 
            <li><a href="contact.html">Контакт</a></li> 
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <section class="row">
        <article class="col-md-3 col-sm-6 col-xs-12 well" ng-repeat="products in headers | filter:query">
          <h2>{{products.name}}</h2>
          <h3 class="text-right">{{products.price}}</h3>
          <img class="img-responsive" ng-src="img/{{products.img}}" alt="">
          <p><strong>{{products.name}}</strong>{{products.description}}</p>
          <a class="btn btn-link" href="{{products.link}}">Читати більше ..</a>
          <a class="btn btn-link" href="#" ng-click="buttonShow()">Відгуки {{products.rewiev.length}} ..</a>
          <div ng-show="show">
            <h4>Reviews</h4>
            <form name="first" ng-submit="first.$valid && addMessage($event)" novalidate>
              <label>Імя:<br> <input ng-model="name" type="text" required placeholder="Ваше імя"></label><br>
              <label>Ваш відгук або пропозиція: <textarea ng-model="msg" required  placeholder="Type a response..."></textarea></label><br>
              <input type="submit" value="Надіслати"> 
          </form>
          </div>
        </article>
      </section>
      <footer class="row navbar-fixed-bottom">
        <div class="panel-footer text-center">
          <p>&copy 2015</p>
        </div>
     </footer>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
    <script src="js/app.js"></script>
  </body>
</html>